.v03-hulty-landing-page-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .v03-hulty-landing-page-v03-hulty-landing-page {
    width: 100%;
    height: 6275px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(5, 15, 39, 1);
  }
  .v03-hulty-landing-page-subtract {
    top: 176px;
    left: 60px;
    width: 1800px;
    height: 1203px;
    position: absolute;
  }
  .v03-hulty-landing-page-frame34 {
    gap: 46px;
    top: 1459px;
    left: 60px;
    width: 1800px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .v03-hulty-landing-page-frame29 {
    width: 447px;
    height: 1203px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 80px;
  }
  .v03-hulty-landing-page-frame8 {
    width: 1307px;
    height: 1203px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-rectangle752 {
    top: 0px;
    left: 0px;
    width: 1307px;
    height: 1203px;
    position: absolute;
    border-radius: 80px;
  }
  .v03-hulty-landing-page-frame81 {
    top: 365px;
    left: 644px;
    width: 330px;
    height: 330px;
    display: flex;
    opacity: 0.02;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-rectangle781 {
    top: 253.21484375px;
    left: 219.01171875px;
    width: 172px;
    height: 49px;
    position: absolute;
    border-radius: 157.14285278320312px;
  }
  .v03-hulty-landing-page-rectangle779 {
    top: 196.7578125px;
    left: 27.5px;
    width: 275px;
    height: 49px;
    position: absolute;
    border-radius: 157.14285278320312px;
  }
  .v03-hulty-landing-page-rectangle780 {
    top: 266.1171875px;
    left: 133.138671875px;
    width: 190px;
    height: 65px;
    position: absolute;
  }
  .v03-hulty-landing-page-frame1 {
    top: 1038px;
    left: 948px;
    width: 330px;
    height: 330px;
    display: flex;
    opacity: 0.02;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-rectangle7811 {
    top: 253.21484375px;
    left: 219.01171875px;
    width: 172px;
    height: 49px;
    position: absolute;
    border-radius: 157.14285278320312px;
  }
  .v03-hulty-landing-page-rectangle7791 {
    top: 196.7578125px;
    left: 27.5px;
    width: 275px;
    height: 49px;
    position: absolute;
    border-radius: 157.14285278320312px;
  }
  .v03-hulty-landing-page-rectangle7801 {
    top: 266.1171875px;
    left: 133.138671875px;
    width: 190px;
    height: 65px;
    position: absolute;
  }
  .v03-hulty-landing-page-frame7 {
    gap: 49px;
    top: 275px;
    left: 234px;
    width: 876px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text {
    color: rgba(255, 255, 255, 1);
    width: 876px;
    height: auto;
    font-size: 76px;
    font-style: Bold;
    text-align: left;
    font-family: Satoshi;
    font-weight: 700;
    line-height: 101.99999809265137%;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text002 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 22px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame6 {
    gap: 8px;
    width: 226px;
    height: 74px;
    display: flex;
    padding: 33px 24px;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    border-radius: 26px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
  }
  .v03-hulty-landing-page-text004 {
    color: rgba(17, 27, 49, 1);
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: Satoshi;
    font-weight: 700;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame5 {
    top: 100px;
    left: 887px;
    width: 223px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text006 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 18px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 28px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text008 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 71.67295837402344px;
    font-style: Bold;
    text-align: left;
    font-family: Satoshi;
    font-weight: 700;
    line-height: 84.70439910888672px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame4 {
    top: 42px;
    left: 60px;
    width: 1800px;
    height: 91px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-rectangle750 {
    top: 0px;
    left: 0px;
    width: 1800px;
    height: 91px;
    position: absolute;
    border-radius: 128px;
  }
  .v03-hulty-landing-page-ellipse5 {
    top: 64px;
    left: 738px;
    width: 5px;
    height: 5px;
    position: absolute;
  }
  .v03-hulty-landing-page-frame2 {
    top: 15.5px;
    left: 62px;
    width: 136px;
    height: 60px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-hutly {
    top: 19.16796875px;
    left: 63.267578125px;
    width: 63px;
    height: 28px;
    position: absolute;
    box-sizing: content-box;
  }
  .v03-hulty-landing-page-frame11 {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-rectangle7812 {
    top: 46.0390625px;
    left: 39.8203125px;
    width: 31px;
    height: 9px;
    position: absolute;
    border-radius: 28.571428298950195px;
  }
  .v03-hulty-landing-page-rectangle7792 {
    top: 35.7734375px;
    left: 5px;
    width: 50px;
    height: 9px;
    position: absolute;
    border-radius: 28.571428298950195px;
  }
  .v03-hulty-landing-page-rectangle7802 {
    top: 48.384765625px;
    left: 24.20703125px;
    width: 35px;
    height: 12px;
    position: absolute;
  }
  .v03-hulty-landing-page-svg {
    top: 17px;
    left: 126px;
    width: 10px;
    height: 10px;
    position: absolute;
    box-sizing: content-box;
  }
  .v03-hulty-landing-page-frame3 {
    gap: 50px;
    top: 34px;
    left: 716.0001220703125px;
    width: 369px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .v03-hulty-landing-page-text010 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 18px;
    font-style: Medium;
    text-align: center;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text012 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 18px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text014 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 18px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text016 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 18px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-button {
    top: 0px;
    left: 1620px;
    width: 180px;
    height: 91px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .v03-hulty-landing-page-frame19 {
    gap: 8px;
    top: 0px;
    left: 0px;
    height: 91px;
    display: flex;
    padding: 33px 43px;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px 100px 100px 16px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
  }
  .v03-hulty-landing-page-text018 {
    color: rgba(5, 15, 39, 1);
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: Satoshi;
    font-weight: 700;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text020 {
    top: 416px;
    left: 146px;
    color: rgba(255, 255, 255, 1);
    width: 378px;
    height: auto;
    position: absolute;
    font-size: 22px;
    font-style: Regular;
    text-align: left;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame51 {
    gap: 8px;
    top: 270px;
    left: 146px;
    width: 256px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text022 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 30px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text024 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 71.67295837402344px;
    font-style: Bold;
    text-align: left;
    font-family: Satoshi;
    font-weight: 700;
    line-height: 84.70439910888672px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text026 {
    top: 252px;
    left: 717px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 153px;
    font-style: Bold;
    text-align: left;
    font-family: Satoshi;
    font-weight: 700;
    line-height: 107.00000524520874%;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame39 {
    top: 2742px;
    left: 60px;
    width: 1800px;
    height: 1075px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-rectangle7521 {
    top: 0px;
    left: 0px;
    width: 1800px;
    height: 1070px;
    position: absolute;
    border-radius: 80px;
  }
  .v03-hulty-landing-page-frame391 {
    gap: 48px;
    top: 80px;
    left: 88px;
    width: 1624px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .v03-hulty-landing-page-frame31 {
    gap: 265px;
    display: flex;
    align-items: flex-start;
  }
  .v03-hulty-landing-page-text031 {
    color: rgba(255, 255, 255, 1);
    width: 835px;
    height: auto;
    font-size: 132.2364044189453px;
    font-style: Bold;
    text-align: left;
    font-family: Satoshi;
    font-weight: 700;
    line-height: 101.99999809265137%;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame13 {
    width: 524px;
    height: 431px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-msg1 {
    top: 0px;
    left: 0px;
    width: 524px;
    height: 431px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(27, 36, 57, 1);
  }
  .v03-hulty-landing-page-text033 {
    top: 40px;
    left: 40px;
    color: rgba(255, 255, 255, 1);
    width: 444px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame10 {
    gap: 8px;
    top: 332.68359375px;
    left: 312px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text035 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 27px;
    font-style: Medium;
    text-align: center;
    font-family: Satoshi;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-component29 {
    width: 85px;
    height: 15px;
  }
  .v03-hulty-landing-page-frame30 {
    gap: 26px;
    display: flex;
    align-items: flex-start;
  }
  .v03-hulty-landing-page-frame14 {
    width: 524px;
    height: 431px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-msg11 {
    top: 0px;
    left: 0px;
    width: 524px;
    height: 431px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(27, 36, 57, 1);
  }
  .v03-hulty-landing-page-text037 {
    top: 40px;
    left: 40px;
    color: rgba(255, 255, 255, 1);
    width: 444px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame101 {
    gap: 8px;
    top: 332.68359375px;
    left: 312px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text039 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 27px;
    font-style: Medium;
    text-align: center;
    font-family: Satoshi;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-component291 {
    width: 85px;
    height: 15px;
  }
  .v03-hulty-landing-page-frame15 {
    width: 524px;
    height: 431px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-msg12 {
    top: 0px;
    left: 0px;
    width: 524px;
    height: 431px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(27, 36, 57, 1);
  }
  .v03-hulty-landing-page-text041 {
    top: 40px;
    left: 40px;
    color: rgba(255, 255, 255, 1);
    width: 444px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame102 {
    gap: 8px;
    top: 332.68359375px;
    left: 312px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text043 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 27px;
    font-style: Medium;
    text-align: center;
    font-family: Satoshi;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-component292 {
    width: 85px;
    height: 15px;
  }
  .v03-hulty-landing-page-frame16 {
    width: 524px;
    height: 431px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-msg13 {
    top: 0px;
    left: 0px;
    width: 524px;
    height: 431px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(27, 36, 57, 1);
  }
  .v03-hulty-landing-page-text045 {
    top: 40px;
    left: 40px;
    color: rgba(255, 255, 255, 1);
    width: 444px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 36px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame103 {
    gap: 8px;
    top: 332.68359375px;
    left: 312px;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text047 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 27px;
    font-style: Medium;
    text-align: center;
    font-family: Satoshi;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-component293 {
    width: 85px;
    height: 15px;
  }
  .v03-hulty-landing-page-services {
    top: 3897px;
    left: 60px;
    width: 1800px;
    height: 1055px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 80px;
    background-color: rgba(17, 27, 49, 1);
  }
  .v03-hulty-landing-page-frame41 {
    gap: 80px;
    top: 80px;
    left: 102px;
    width: 1597px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text049 {
    color: rgba(255, 255, 255, 1);
    width: 835px;
    height: auto;
    font-size: 132.2364044189453px;
    font-style: Bold;
    text-align: left;
    font-family: Satoshi;
    font-weight: 700;
    line-height: 101.99999809265137%;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame40 {
    gap: 26px;
    display: flex;
    align-items: flex-start;
  }
  .v03-hulty-landing-page-frame20 {
    width: 515px;
    height: 680px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 1);
  }
  .v03-hulty-landing-page-text051 {
    top: 40px;
    left: 398px;
    color: rgba(5, 15, 39, 1);
    height: auto;
    position: absolute;
    font-size: 72px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 76px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame23 {
    gap: 48px;
    top: 216px;
    left: 40px;
    width: 435px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text053 {
    color: rgba(5, 15, 39, 1);
    height: auto;
    font-size: 72px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 72px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text058 {
    color: rgba(5, 15, 39, 1);
    width: 436px;
    height: auto;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame21 {
    width: 515px;
    height: 680px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: rgba(27, 36, 57, 1);
  }
  .v03-hulty-landing-page-text060 {
    top: 40px;
    left: 375px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 72px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 76px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame24 {
    gap: 48px;
    top: 216px;
    left: 40px;
    width: 436px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text062 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 72px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 72px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text067 {
    color: rgba(255, 255, 255, 1);
    width: 436px;
    height: auto;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame22 {
    width: 515px;
    height: 680px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 40px;
    background-color: rgba(27, 36, 57, 1);
  }
  .v03-hulty-landing-page-text069 {
    top: 40px;
    left: 384px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 72px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 76px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame25 {
    gap: 48px;
    top: 216px;
    left: 40px;
    width: 436px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text071 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 72px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 72px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text076 {
    color: rgba(255, 255, 255, 1);
    width: 436px;
    height: auto;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-rectangle7501 {
    top: 621px;
    left: 713px;
    width: 1076px;
    height: 712px;
    position: absolute;
    border-radius: 56px;
  }
  .v03-hulty-landing-page-frame36 {
    top: 663px;
    left: 61px;
    width: 545px;
    height: 715px;
    position: absolute;
  }
  .v03-hulty-landing-page-group365 {
    top: 5032px;
    left: 60px;
    width: 1800px;
    height: 1163px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(17, 27, 49, 1);
  }
  .v03-hulty-landing-page-frame33 {
    gap: 220px;
    top: 125px;
    left: 100px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .v03-hulty-landing-page-frame32 {
    gap: 335px;
    display: flex;
    align-items: flex-start;
  }
  .v03-hulty-landing-page-frame26 {
    gap: 75px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text078 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 175.20858764648438px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 175.20858764648438px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text083 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 43.88888931274414px;
    font-style: Light;
    text-align: left;
    font-family: Satoshi;
    font-weight: 300;
    line-height: 52.66666793823242px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame151 {
    gap: 11.327433586120605px;
    width: 320px;
    height: 344px;
    display: flex;
    padding: 46.72566223144531px 33.9822998046875px;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    border-radius: 76.80999755859375px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05000000074505806);
  }
  .v03-hulty-landing-page-text090 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 27.486724853515625px;
    font-style: Bold;
    text-align: left;
    font-family: Satoshi;
    font-weight: 700;
    line-height: 33.9822998046875px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame18 {
    width: 1600px;
    height: 134px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-rectangle754 {
    top: 0px;
    left: 0px;
    width: 1600px;
    height: 134px;
    position: absolute;
    border-radius: 80px;
  }
  .v03-hulty-landing-page-frame17 {
    top: 47.28125px;
    left: 91px;
    width: 1419px;
    height: 39.38618087768555px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
  }
  .v03-hulty-landing-page-frame161 {
    top: 0px;
    left: 0px;
    width: 96px;
    height: 39px;
    position: absolute;
  }
  .v03-hulty-landing-page-frame31 {
    gap: 50px;
    top: 7.71875px;
    left: 964px;
    width: 455px;
    display: flex;
    position: absolute;
    align-items: flex-start;
  }
  .v03-hulty-landing-page-text092 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text094 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text096 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text098 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame37 {
    gap: 29px;
    top: 863px;
    left: 147px;
    width: 422px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
  }
  .v03-hulty-landing-page-text100 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 24px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-text102 {
    color: rgba(255, 255, 255, 1);
    width: 422px;
    height: auto;
    font-size: 50px;
    font-style: Medium;
    text-align: left;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 112.00000047683716%;
    font-stretch: normal;
    text-decoration: none;
  }
  .v03-hulty-landing-page-frame61 {
    gap: 8px;
    width: 226px;
    height: 74px;
    display: flex;
    padding: 33px 24px;
    overflow: hidden;
    align-items: center;
    flex-shrink: 0;
    border-radius: 26px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
  }
  .v03-hulty-landing-page-text104 {
    color: rgba(5, 15, 39, 1);
    height: auto;
    font-size: 18px;
    font-style: Bold;
    text-align: left;
    font-family: Satoshi;
    font-weight: 700;
    line-height: 24px;
    font-stretch: normal;
    text-decoration: none;
  }
  